@font-face{
    font-family: 'Red Hat Display', sans-serif;
    src: url(https://fonts.google.com/specimen/Red+Hat+Display);
}

* {
    box-sizing: border-box;
}

/* mobile first */

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url("../images/pattern-background-mobile.svg");
    background-size: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    font-family:'Red Hat Display', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

main {
    width: 80vw;
    height: 70vh;
    max-width: 460px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid transparent;
}

.image-src {
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0px 0px;
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.texto-titulo {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.plano {
    background-color: hsl(225, 100%, 98%);
    padding: 10px;
    margin: 20px;
    
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plan-text{
    display: flex;
    flex-direction: column;
}

.icon-music {
    width: 50px;
    grid-column: 1;
    justify-self: center;
}

.change {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.proceed {
    background-color: hsl(245, 75%, 52%);
    color: #FFFFFF;

    padding: 20px;
    border-radius: 20px;

    justify-self: center;
    margin-left: 20px;
    margin-right: 20px;

    box-shadow: 0px 10px 10px hsl(223, 47%, 23%);

    cursor: pointer;
}

.proceed:hover {
    background-color:  hsl(245, 75%, 58%);
    transition-duration: .1s;
}

.cancel {
    background-color: transparent;
    color: hsl(224, 23%, 55%);

    padding: 20px;
    border-radius: 20px;

    justify-self: center;
    margin-left: 20px;
    margin-right: 20px;

    cursor: pointer;
}

.cancel:hover {
    color:black;
}

.final-buttons {
    display: flex;
    flex-direction: column;
}

.attribution a {
    color: blue;
    text-decoration: underline;
}

